<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}" xml:lang="{{ LANGUAGE_CODE }}" lang="{{ LANGUAGE_CODE }}">

<head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>{{ title }}</title>
        <link rel="stylesheet" type="text/css" href="http://kitt.cl.uzh.ch/kitt/mantra/django-static/poll.css">        
</head>

<body>
<div id="wrapper" style="width: 300px">
<div>
    <form method="POST" action="">{% csrf_token %}
        <table>
            <tr>
                <td>E-mail</td>
                <td>{{ form.username }}</td>
                <td class="error">{{ field.errors }}</td>
            </tr>
            <tr>
                <td>{{ form.password1.label }}</td>
                <td>{{ form.password1 }}</td>
                <td class="error">{{ field.errors }}</td>
            </tr>
            <tr>
                <td>{{ form.password2.label }}</td>
                <td>{{ form.password2 }}</td>
                <td class="error">{{ field.errors }}</td>
            </tr>

        </table>
        <input type="submit" value="Send request" />
    </form>
</div>
</div>
</body>
</html>